/* Enter your custom styles here */
.cardBox {
  border-radius: 12px;
  padding: 1rem;
  background: #f8f9fb;
}

/* Stile della card appointment del PlanningCalendar.
   Agiamo su .sapUiCalendarApp (contenitore esterno) che è sicuro da modificare
   senza rompere il layout interno di SAP UI5. */
.sapUiCalendarApp {
    box-sizing: border-box !important;
    border-radius: 4px !important;
    /* border: 2px solid rgba(230, 15, 15, 1) !important;       evidenzia appointment*/
}

.cardProfile {
    border-radius: 16px;
    padding: 1.5rem;
    background: #f9fafb;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.infoItem {
    width: 45%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-size: 0.75rem;
    color: #6b7280;
}

.value {
    font-weight: 600;
}

.icon {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

.blue   { background: #e0edff; color: #2563eb; }
.green  { background: #dcfce7; color: #16a34a; }
.purple { background: #f3e8ff; color: #9333ea; }
.orange { background: #fff7ed; color: #ea580c; }
.violet { background: #ede9fe; color: #7c3aed; }

.kpiCard {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    padding: 1rem;
    border-radius: 14px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 2rem;
}

.kpiIcon {
    margin-right: 8px;
}

.cardProfile {
    border-radius: 16px;
    padding: 1.5rem;
    background: #f9fafb;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.infoItem {
    width: 45%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-size: 0.75rem;
    color: #6b7280;
}

.value {
    font-weight: 600;
}

.icon {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

.blue   { background: #e0edff; color: #2563eb; }
.green  { background: #dcfce7; color: #16a34a; }
.purple { background: #f3e8ff; color: #9333ea; }
.orange { background: #fff7ed; color: #ea580c; }
.violet { background: #ede9fe; color: #7c3aed; }

.kpiCard {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    padding: 1rem;
    border-radius: 14px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 2rem;
}

.kpiIcon {
    margin-right: 8px;
}


/* per kpi --> evidenziare le righe. */
[data-myHighlight="true"] {
    background-color: #fef3f3 !important;
    box-shadow: inset 8px 0 0 0 #ed6a5a !important; 
}



.sapMListTblRow:not(.sapMLIBSelected) .sapUiCalendarRowAppsNoWork, .sapMListTblSubRow:not(.sapMLIBSelected) .sapUiCalendarRowAppsNoWork{
    background-color: #ed6a5a !important;
}

/* Rimuove l'evidenziazione blu della riga del PlanningCalendar quando si clicca */
.sapMPlanCalRow.sapMLIBSelected,
.sapMPlanCalRow.sapMLIBSelected:hover {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}